*{
    box-sizing: border-box;
    
}

.container{
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    align-items: stretch;
    display: flex;
    background-color: #ccc;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

.item{
    width: 75px;
    background-color: grey;
    margin: 10px;
    color: yellow;
    border: 1px solid black;
    

}

.item1{
    min-height: 50px;
}
.item2{
    min-height: 100px;
}
.item3{
    min-height: 150px;
}