*{
    box-sizing: border-box;
    margin: 0;
    paading:0;
}

.nav{
     background-color: #0082e6;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.logo{
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin-left: 3em;
}

.nav ul{
    display: flex;
    list-style: none;
    padding: 1.7rem;
}
.nav ul li{

    padding: 0 1rem;
}

.nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    text-transform: capitalize;
    border-radius: .3em;
    padding: .5rem 1rem;
}

.active,a:hover{
    background:#1b9bff;
    transition: 500ms;
    
}