*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-tooltip]{
    position: relative;
    font-size: 1.2rem;
}

[data-tooltip]:hover::before{
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    transform: translate(-50%,calc(-100% - .5rem));
    background-color: hsl(200,100%,50%);
    padding: .5rem;
    border-radius: .3rem;
    width: max-content;
    max-width: 100%;
    text-align: center;
}


[data-tooltip]:hover::after{
    content: '';
    position: absolute;
    border: .7rem solid transparent;
    border-top-color:  hsl(200,100%,50%);
    transform: translate(-50%, -.5em);
    left: 50%;
 
}